
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Danh mục bài viết</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Jquery-->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="admin/fragments/sidebar" />
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="admin/fragments/topBar" />
				<!-- Topbar Navbar -->
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Danh mục bài viết</h1>
					<div th:if="${successMessage}" class="alert alert-success">
						<p th:text="${successMessage}"></p>
					</div>
					<div th:if="${failMessage}" class="alert alert-danger">
						<p th:text="${failMessage}"></p>
					</div>
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Danh mục bài viết</h6>
						</div>
						
						<div class="card-body">
						    <form th:action="@{/add_category}" method="post" class="row g-3" th:object="${category_temp}" id="addForm" name = "addForm">
						        <div class="col-md-6">
						            <label for="name" class="form-label">Danh mục:</label>
						           	<input type = "text" id = "name" name = "name" th:field="*{name}">

						        </div>
						        <div class="col-md-6">
						            <button type="submit" class="btn btn-primary">Thêm</button>
						        </div>
						    </form>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="50%"
									cellspacing="0">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên danh mục</th>
											<th width="50%">Hành động</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="category,iter : ${category_list}">
											<td th:text="${iter.index+1+start_index}">
											</td>
											<td><a th:text="${category.name}"
												th:href="@{'/admin/category?id=' + ${category.id}}" id="editLink"></a> </td>
			
											<td>
												<!-- Các hành động, ví dụ: -->
												<div class="row">
												 <!--/* 	<div class="col-md-8">
														<a class="btn btn-primary"
															th:href="@{'/admin/editCategory=' + ${category.id}}">Chỉnh
															sửa</a>
													</div> */--> 
													<div class="col-md-12">
													<form th:action="@{'/admin/delete_category/' + ${category.id}}"
														th:method="delete">
														<button type="button" class="btn btn-danger" th:onclick="'showConfirmationDialog(\'' + ${category.id} + '\')'">Xóa</button>
													</form>
														<!-- Confirm Modal-->
														<div th:id="'confirmationDialog_' + ${category.id}" style="display: none;" >
													    <form th:action="@{'/admin/delete_category/' + ${category.id}}" th:method="delete">
													        <p>Bạn có chắc chắn muốn xóa danh mục này?</p>
													        <p>Xóa danh mục sẽ xóa tất cả bài viết thuộc danh mục đó!</p>
													        <button type="submit" class="btn btn-danger">Xác nhận</button>
													        <button type="button" class="btn btn-secondary" th:onclick="'cancelDelete(\'' + ${category.id} + '\')'" >Hủy</button>
													    </form>
														</div>
														<!-- Confirm Modal-->
														</div>
												</div>
											</td>
										</tr>
									</tbody>
									
								</table>
								<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm">
        <li th:if="${category_list.totalPages > 0}"
            th:each="pageNumber : ${#numbers.sequence(1, category_list.totalPages)}">
            <a th:href="${'/admin/listCategory?pageno=' + pageNumber}" 
               th:text="${pageNumber}"
               th:classappend="${pageNumber ==category_list.number + 1} ? 'active' : ''"
               class="page-link"></a>
        </li>
    </ul>
</nav>
								
							</div>
							
							 
						</div>
					</div>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

<script th:inline="javascript">
    $("#addForm").validate({
        errorClass: "alert alert-warning",
        ignore: [],
        rules: {
        	name: {
                required: true,
          
            },
         
        },
        messages: {
        	name: {
                required: "Danh mục không được trống",
               
            },
        }
    });
    function showConfirmationDialog(id) {
        document.getElementById('confirmationDialog_'+id).style.display = 'block';
    }

    function cancelDelete(id) {
        document.getElementById('confirmationDialog_'+id).style.display = 'none';
    }
</script>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/chart-area-demo.js"></script>
	<script src="/js/demo/chart-pie-demo.js"></script>
	
	

</body>

</html>